.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: #002140;
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  transition: all .3s;
  overflow: hidden;
}

.logo-title {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

